.footer__wrapper {
    display: grid;
    padding: 5.5rem 0;
    margin-top: 1rem;
    align-items: center;
    background-image: url("/img/triangle_bottom.png");
    background-position: right bottom;
    background-size: 250px;
    background-repeat: no-repeat;
}


.footer__email {
    line-height: 4rem;
    font-size: 1rem;
    text-align: center;
    font-family: "source sans pro";
}

.footer__link {
    text-decoration: none;
    color: #2F2F2F;
}

.footer__messsage {
    line-height: 120px;
    text-align: center;
    font-size: 90px;
    color: #2F2F2F;
    font-weight: 700;
}

@media (max-width:800px) {
    .footer__messsage {
        font-size: 70px;
        line-height: 80px;
    }
}

.footer__copyright {
    padding: 2rem 1rem;
    line-height: 1rem;
    background-color: #2F2F2F;
    color: #B4B9C1;
    font-family: "source sans pro";
    text-align: center;
}