/* Website title and headers */

.header {
    margin: 0;
    padding: 0;
}


.header__title {
    font-family: "Bree Serif";
    font-size: 5rem;
    color: #33BA9D;
    margin: 0 auto;
    text-align: center;
}

.header__subtitle {
    font-family: "Bree Serif";
    font-size: .9rem;
    margin: 0 auto;
    text-align: center;
    color: #2F2F2F;
}

/* Menu and links */


.header__menu {
    display: flex;
    margin: 2rem auto;
    padding: 0;
    justify-content: space-between;
    max-width: 10rem;
}

.header__link {
    color: #33BA9D;
    font-family: "Bree Serif";
    text-decoration: none;
}