/* Website title and headers */

.header {
    margin: 0;
    padding: 0;
    background-image: url("/img/triangle_top.png");
    background-position: left top;
    background-size: 200px;
    background-repeat: no-repeat;
}


.header__title {
    font-family: "Bree Serif";
    font-size: 5rem;
    padding: 2rem 0 .5rem;
    color: #33BA9D;
    margin: 0 auto;
    text-align: center;
}

.header__subtitle {
    font-family: "source sans pro";
    font-size: .9rem;
    margin: 0 auto;
    text-align: center;
    color: #2F2F2F;
}

/* Menu and links */


.header__menu {
    display: flex;
    margin: 3rem auto;
    padding: 0;
    justify-content: space-between;
    max-width: 10rem;
}

.header__link {
    color: #33BA9D;
    font-family: "Bree Serif";
    text-decoration: none;
}