.portfolio {
    width: 50%;
    padding: 1rem;
    margin: 0;
}

@media (max-width: 800px) {
    .portfolio {
        width: 100%;
        padding: 1rem;
    }
}

.portfolio__picture {
    position: relative;
    width: 100%;
    height: 100px;
    /* background: rgb(90, 186, 157); */
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.portfolio__title {
    margin-bottom: .3rem;
    padding: .5rem;
    text-align: center;
}
.portfolio__links {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.portfolio__live {
    padding: .5rem;
    text-decoration: none;
    color: black;
}

.portfolio__github {
    padding: .5rem;
    text-align: center;
    color: black;
    text-decoration: none;
}

.portfolio__description {
    text-align: center;
    font-family: "source sans pro";
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.hover {
    width: 100%;
    height: 100%;
    background-color: rgba(90, 186, 157, 1);
    transition: background-color 1s;
    color: white;
}

.hover__wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
}